<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- mypage head fragment -->
    <th:block th:replace="fragments/common/header :: head"></th:block>
    <title>mypage-order-exchange</title>
</head>
<body>
    <!-- mypage header fragment -->
    <th:block th:replace="fragments/common/header :: headerFragment"></th:block>

    <!-- PAGE BANNER SECTION -->
    <div class="page-banner-section section" style='background-image: url("/img/bg/mypageBanner10_2.jpg")'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-banner-content">
                        <h1 th:text="'취소/반품/교환 등록'"></h1>
                        <ul class="breadcrumb">
                            <li><a href="#" th:id="goBack">read</a></li>
                            <li class="active">exchange</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 취소/반품/교환 신청서 -->
    <div class="page-section section pt-120 pb-45">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 mx-auto">
                    <!-- 신청 대상 상품내용 요약 -->
                    <div class="login-reg-form">
                        <form>
                            <div class="row">
                                <h3>신청 대상 정보</h3>
                                <p>신청 세부내역을 입력해주세요</p>
                                <!-- 표시 data -->
                                <div class="col-sm-6 col-xs-12 mb-20">
                                    <label>상품명</label>
                                    <input type="text" name="iName" th:value="${orderItem.iName}" readonly>
                                </div>
                                <div class="col-sm-6 col-xs-12 mb-20">

                                </div>
                                <div class="col-sm-6 col-xs-12 mb-20">
                                    <label>옵션명1: [[${orderItem.iOptionName}]]</label>
                                    <input type="text" name="iOption" th:value="${orderItem.iOption}" readonly>
                                </div>
                                <div class="col-sm-6 col-xs-12 mb-20">
                                    <label>옵션명2: [[${orderItem.iOptionName2}]]</label>
                                    <input type="text" name="iOption2" th:value="${orderItem.iOption2}" readonly>
                                </div>
                                <div class="col-sm-6 col-xs-12 mb-20">
                                    <label>색상</label>
                                    <input type="text" name="iColor" th:value="${orderItem.iColor}" readonly>
                                </div>
                                <div class="col-sm-6 col-xs-12 mb-20">

                                </div>
                            </div>
                        </form>
                        <div class="order-table table-responsive mb-40">
                            <table class="table"><!-- 클래스명 제거시 디자인 통일됨 -->
                                <thead>
                                <tr>
                                    <th class="product-name">구분</th>
                                    <th class="product-total">내용</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="product-name">
                                        상품가격(기존) <strong class="product-qty"></strong>
                                    </td>
                                    <td class="product-total">
                                        <span class="amount" data-th-text="${#numbers.formatInteger(orderItem.iPrice, 3, 'COMMA') + ' 원'}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-name">
                                        할인률(%) <strong class="product-qty"></strong>
                                    </td>
                                    <td class="product-total">
                                        <span class="amount" th:text="${#numbers.formatInteger(orderItem.iDiscount*100, 2, 'COMMA')}+'%'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-name">
                                        상품가격(할인 후) <strong class="product-qty"></strong>
                                    </td>
                                    <td class="product-total">
                                        <span class="amount" data-th-text="${#numbers.formatInteger(orderItem.iDisPrice, 3, 'COMMA') + ' 원'}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-name">
                                        구매수량 <strong class="product-qty"></strong>
                                    </td>
                                    <td class="product-total">
                                        <span class="amount">[[${orderItem.iCount}]]</span>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>총 상품가격 [ 상품가(할인후) x 구매수량 ]</th>
                                    <td><strong data-th-text="${#numbers.formatInteger(orderItem.iTotalPrice, 3, 'COMMA') + ' 원'}"></strong></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <br/>
                        <!-- 신청 및 전송 내용 -->
                        <form th:action="@{/mypage/order/exchange}" method="post">
                            <div class="row">
                                <h3>신청 내용</h3>
                                <p>신청 세부내역을 입력해주세요</p>
                                <!-- 숨김 data -->
                                <input type="hidden" th:name="mno" th:value="${mno}" readonly>
                                <input type="hidden" th:name="ono" th:value="${orderItem.ono}" readonly>
                                <input type="hidden" th:name="pno" th:value="${orderItem.pno}" readonly>
                                <input type="hidden" th:name="oINo" th:value="${orderItem.oINo}" readonly>
                                <!-- 표시 data -->
                                <div class="col-sm-6 col-xs-12 mb-20">
                                    <label name="exCategory">카테고리 <span class="required">*</span></label>
                                    <select name="exCategory" size="1" required>
                                        <option value="">==카테고리를 선택하세요==</option>
                                        <option value="취소">취소</option>
                                        <option value="교환">교환</option>
                                        <option value="반품">반품</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-xs-12 mb-20">
                                    <label>진행상태</label>
                                    <input type="text" name="exStatus" th:value="'접수 전'" readonly>
                                </div>
                                <div class="col-sm-6 col-xs-12 mb-20">
                                    <label>신청일자</label>
                                    <input type="text" th:value="${#calendars.format(#calendars.createNow(),'yyyy-MM-dd HH:mm:ss')}">
                                </div>
                                <div class="col-sm-6 col-xs-12 mb-20">

                                </div>
                                <div id="eOption" class="col-sm-6 col-xs-12 mb-20" >
                                    <label>옵션명1: [[${orderItem.iOptionName}]] </label>
                                    <input type="hidden" name="eOptionName" th:value="${orderItem.iOptionName}">
                                    <select name="eOption">
                                        <option value="">==카테고리를 선택하세요==</option>
                                        <div th:each="opt1:${opt1ListN}">
                                            <option th:value="${opt1}">[[${opt1}]]</option>
                                        </div>
                                    </select>
                                </div>
                                <div id="eOption2" class="col-sm-6 col-xs-12 mb-20" >
                                    <label>옵션명2: [[${orderItem.iOptionName2}]] </label>
                                    <input type="hidden" name="eOptionName2" th:value="${orderItem.iOptionName2}">
                                    <select name="eOption2">
                                        <option value="">==카테고리를 선택하세요==</option>
                                        <div th:each="opt2:${opt2ListN}">
                                            <option th:value="${opt2}">[[${opt2}]]</option>
                                        </div>
                                    </select>
                                </div>
                                <div id="color" class="col-sm-6 col-xs-12 mb-20" >
                                    <label>색상</label>
                                    <select name="color">
                                        <option value="">==카테고리를 선택하세요==</option>
                                        <div th:each="color:${colorListN}">
                                            <option th:value="${color}">[[${color}]]</option>
                                        </div>
                                    </select>
                                </div>

                                <div class="col-xs-12 mb-20 order-notes">
                                    <label>신청사유 <span class="required">*</span></label>
                                    <textarea name="exContent" cols="100" rows="10"></textarea>
                                </div>

                                <!-- 첨부파일 등록 영역 -->
                                <div class="col-xs-12 mb-20 form-group fileForm">
                                    <label>이미지 <span style="font-size: x-small">*이미지 파일만 등록 가능합니다.</span></label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input files" id="fileInput" multiple>
                                    </div>
                                </div>
                                <div class="box">

                                </div>
                                <!-- 등록된 이미지 출력 영역 -->
                                <div class="col-xs-12 mb-20 uploadResult">
                                    <ul>

                                    </ul>
                                </div>
                                <div class="col-xs-12">
                                    <input value="신청하기" name="exRegister" type="submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- mypage footer fragment -->
<th:block th:replace="fragments/common/footer :: footerFragment"></th:block>

<script>
    $(document).ready(function (e){

        // 교환 관련 옵션 태그 비활성화 이벤트

        // (1) 페이지 로딩시 default 숨김
        $("#eOption").hide();
        $("#eOption2").hide();
        $("#color").hide();

        // (2) 교환카테고리 선택 시 활성화
        $("select[name=exCategory]").change(function (){
            if($("select[name=exCategory]").val() === '교환'){
                $("#eOption").show();
                $("#eOption2").show();
                $("#color").show();
            }
            else {
                $("#eOption").hide();
                $("#eOption2").hide();
                $("#color").hide();
            }
        })

        // form select option 값 검증용(별도 이벤트X)
        $("select[name=eOption]").change(function (){
            var eOption = $("select[name=eOption]").val();
            console.log(eOption);
        })
        $("select[name=eOption2]").change(function (){
            var eOption2 = $("select[name=eOption2]").val();
            console.log(eOption2);
        })

        // 파일 업로드 관련
        var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$")
        var maxSize = 10485760; // 10MB

        // 파일 업로드 전 체크 함수
        const checkExtention = (fileName,fileSize)=>{
            if(fileSize>=maxSize){
                alert("파일 사이즈 초과")
                return false;
            }
            if(regex.test(fileName)){
                alert("해당 종류의 파일은 업로드 할 수 없습니다.")
                return false;
            }
            return true
        }

        // 파일 업로드
        $(".custom-file-input").change(function (e){
            var fileName = $(this).val().split("\\").pop(); // pop은 배열의 마지막 요소 삭제하면서 fileName에 저장
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName); // siblings: 형제 노드
            var formData = new FormData();
            var inputFile = $(this)
            var files = inputFile[0].files;
            var appended = false
            for (var i = 0; i < files.length; i++) {
                if(!checkExtention(files[i].name, files[i].size)){
                    return false
                }
                console.log(files[i])
                formData.append("uploadFiles",files[i]) // 1
                appended = true;
                if(!appended) return ;
                for(var value of formData.values()){
                    console.log("value: ",value)
                }
                // 실제 업로드 부분
                $.ajax({
                    url:'/uploadAjax',
                    processData:false,
                    contentType:false,
                    data:formData,
                    type:'POST',
                    dataType:'json',
                    success:function (result){
                        console.log("result: ",result)
                        showResult(result);
                    },
                    error:function (jqXHR, testStatus, errorThrown){
                        console.log("testStatus: ",testStatus)
                    }
                })
            }
        })

        // event change
        function showResult(uploadResultArr){
            console.log("uploadResultArr: ",uploadResultArr);
            var uploadUL = $(".uploadResult ul")
            var str = "";
            $(uploadResultArr).each(function (i,obj){
                str+="<li data-name='"+obj.fileName + "' data-path='" +obj.folderPath+"' data-uuid='" +obj.uuid+"'>";
                str+="<div>"
                str+="<button type='button' data-file=\'"+obj.imageURL+"\'"
                str+="class='btn btn-sm'>X</button><br>";
                str+="<img src='/display?fileName="+obj.thumbnailURL+"'>"
                str+="</div>"
                str+="</li>"
            })
            uploadUL.append(str);
        }

        // 파일 삭제
        $(".uploadResult").on("click","li button",function (e){
            console.log("delete file")
            var targetFile = $(this).data("file")
            var targetLi = $(this).closest("li")
            $.ajax({
                url:'/removeFile',
                data:{fileName:targetFile},
                dataType: 'text',
                type:'post',
                success:function (result){
                    alert(result)
                    targetLi.remove()
                }
            })
        })
        // 등록 버튼 누르면~
        $("input[name=exRegister]").click(function (e){

            e.preventDefault();
            var str = "";

            // 필수 정보 작성 확인
            if($("select[name=exCategory]").val()==="none"){
                alert("카테고리를 반드시 선택해주세요")
                return
            }
            if($("textarea[name=exContent]").val()===""){
                alert("신청사유를 반드시 작성해주세요")
                return
            }
            // if($("#fileInput").val()===""){
            //     alert("사진을 반드시 첨부해주세요")
            //     return
            // }

            // 첨부 이미지 등록
            $(".uploadResult li").each(function (i,obj){
                var target = $(obj)
                str += "<input type='hidden' name='exchangeFilesList["+i+"].img_name' value='"+target.data('name') +"'>";
                str += "<input type='hidden' name='exchangeFilesList["+i+"].path' value='"+target.data('path')+"'>";
                str += "<input type='hidden' name='exchangeFilesList["+i+"].uuid' value='"+target.data('uuid')+"'>";
                // 태그들이 추가된 것을 확인한 후에 comment 제거
                $(".box").html(str);
            })
            $("form").submit();
            alert("신청이 완료되었습니다.")
        })

        // 뒤로가기 버튼 클릭
        $("#goBack").click(function (){
            var mno = $("input[name=mno]").val();
            var ono = $("input[name=ono]").val();
            window.location.href = '/mypage/order/read?ono='+ono;
        })
    })
</script>
</html>