<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${item.title}"></title>
    <!-- head fragment -->
    <th:block th:replace="fragments/common/header :: head"></th:block>
    <style>
        #replyForm{
            padding: 12px;
        }
        #replyForm .n_userInfo{
            width: 142px;
            height: 62px;
        }
        #replyForm .n_userInfo input{
            height: 30px;
            width: 120px;
            border-color: #eee;
            border-style: solid;
            border-width: 1px 0px 1px 0px;
            color: #aaa;
            font-size: 12px;
            padding: 0;
            margin-bottom: 2px;
        }
        #replyForm .reply_txt_box textarea{
            height: 100px;
            border-color: #eee;
            border-style: solid;
            border-width: 1px 0px 1px 0px;
            color: #aaa;
            font-size: 12px;
            padding: 0;
            margin-bottom: 2px;
        }
        #replyForm .reply_txt_box button{
            float: right;
        }

    </style>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<body>
<!-- header fragment -->
<th:block th:replace="fragments/common/header :: headerFragment"></th:block>
<!-- banner -->
<div class="page-banner-section section" style="background-image: url('/img/banner/nathan-dumlao-WyV_EOPHy6g-unsplash.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-banner-content">
                    <a href="/community/main"><h1 th:text="'Community'"></h1></a>
                    <ul class="breadcrumb">
                        <li><a href="/community/board/list" th:id="goBack">sports</a></li>
                        <li class="active">read</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE SECTION START -->
<div class="page-section section pt-120 pb-45">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mb-20 mx-auto">
                <div class="content-header">
                    <h4 class="title" th:text="${item.title}"></h4>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <div class="content-date">
                    <span class="title" id="nickName" th:text="${item.nickName} " th:if="${item.nickName} != null"><a href="#"></a></span>
                    <span class="title" id="nonMemberId" th:text="${item.nonMemberId} " th:if="${item.nickName} == null"><a href="#"></a></span>|
                    <span th:if="${item.modDate==null}" th:text="${#dates.format(item.regDate,'MM-dd hh:mm')}" style=" display: inline"></span>
                    <span th:if="${item.modDate!=null}" th:text="${#dates.format(item.modDate,'MM-dd hh:mm')}" style=" display: inline" ></span>
                </div>
            </div>
            <div class="col-lg-8 col-12 mb-10 mx-auto">
                <hr style="height: 2px">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 mt-10 mb-20 mx-auto">
                <div class="content-body">
                    <p>
                        <img style="width: 100%; height: 100%; text-align: center" th:src="|/display?fileName=${item.bImg}|" alt="첨부이미지" th:if="${item.bImg != null}" />
                    </p>
                    <p>
                        <span th:text="${item.content}"></span>
                    </p>
                </div>
                <hr style="border: 2px" class="mt-150">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-12 mb-20 mx-auto">
                <div class="content-footer">
                    <!--      작성자       -->
                    <div class="bs-div-btn">
                        <!-- Button trigger modal -->
                        <button type="button" id="modify" class="btn" data-bs-toggle="modal" data-bs-target="#modifyModal">수정</button>
                        <button class="btn" id="list">목록</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <div>
                    <hr style="height: 2px">
                    <div>
                        <!--        댓글 등록 -->
                        <h4>Reply</h4>
                        <form id="replyForm" method="post" action="read">
                            <div class="container">
                                <div class="row">
                                    <div class="n_userInfo ">
                                        <input type="text" name="replyer" id="replyer" placeholder="작성자"><br>
                                        <input type="password" name="replyPassword" id="replyPassword" placeholder="비밀번호">
                                    </div>
                                    <div class="reply_txt_box col-lg-9">
                                        <textarea class="col-lg-12" name="reply" id="reply" placeholder="내용을 입력하세요"></textarea><br>
                                        <button class="btn-small" type="button" id="replySubmit">등록</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                        <hr>
                    </div>
                    <!--        댓글 목록-->
                    <div id="replyList">
                    </div>

                    <hr style="border: 2px" class="mt-150">
                    <!--        댓글 페이징 -->
                    <div id="pagination">
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <!-- NON MEMBER INFO MODAL START-->
        <div class="modal fade" id="modifyModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" style="width: 25%; height: 25%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12 mb-40">
                                    <div class="modify-modal-title">
                                        <!-- Title -->
                                        <h3 class="title">비밀번호를 입력하세요.</h3>
                                        <!-- Price Ratting -->
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-40">
                                    <div class="nonMember-certification">
                                        <label for="nonMemberPassword">비밀번호</label>
                                        <input type="password" id="nonMemberPassword">
                                        <button class="btn-small" id="certification">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
                <!-- QUICK VIEW MODAL END-->
    </div>

</div>
<div>
    <div class="blog-section section pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 mx-auto">
                <!-- Home Blog Item -->
                <div class="col-lg-6 col-12  mb-40">
                    <div class="home-blog-item">
                        <!-- Content -->
                            <!-- UserName : userid/상세정보등 mypage-blog로 연결 -->
                         <!-- 비회원일 경우 mno을 못 받기 때문에 객체를 못 불러옴. 값이 있을 때만 생성 -->
                            <input type="hidden" id="idInput" th:if="${memberVO} != null" th:value="${memberVO.id}">
                            <input type="hidden" id="nonMemberPassWordInput" th:value="${item.nonMemberPassword}">
                    </div>
                </div>
                <!-- Home Blog Item -->
            </div>
        </div>
    </div>
</div>
<form id="openForm" action="modify" method="get">
    <input type="hidden" name="page" th:value="${cri.page}">
    <input type="hidden" name="pageNum" th:value="${cri.pageNum}">
    <input type="hidden" name="bno" th:value="${item.bno}">
</form>

<!-- reply section -->
<div class="page-section section pt-120 pb-45">
</div>
</div>
<!-- reply section End-->
</body>
<!-- PAGE SECTION END -->

<!-- footer fragment -->
<th:block th:replace="fragments/common/footer.html :: footerFragment"></th:block>
<script th:inline="javascript">
    // let hi = {hi:'hi'}
    /*<![CDATA[*/
    let boardVO = [[${item}]];
    /*]]>*/
    // 변수

    let openForm = $("#openForm")
    let bno= $("input[name=bno]").val();
    let page = 0;
    let reply= $("#reply");
    let rno= $("#rno");
    let nonMemberPassword = $('#nonMemberPassword');
    let nonMemberPasswordInput = $('#nonMemberPassWordInput');
    let idInput = $('#idInput');
    let idSec = $('input[name=idSec]');
    let mno= $("input[name=mnoSec]");
    let replyer= $("#replyer");
    let replyPassword = $("#replyPassword");

    // 변수 end
    // 본문수정
    $(document).ready(function (){
        getList();
        $("#replySubmit").on('mouseover',function (){
            console.log("변수 : ","@",rno.val()," @",reply.val()," @",replyPassword.val()," @",replyer.val()," @",bno);
        })

        // 회원/비회원 본문 수정 modal 활성화
        $("#modify").on("click",function (e){
            // 로그인 상태
            if(idSec.val() === idInput.val()){
                e.preventDefault();
                $('#openForm').submit();
                // 비회원 등록 게시물일 경우 modal창 나옴
            }
            // 비로그인 상태
            else if(idSec.val() === 'anonymousUser'){
                // 회원 게시글
                if(idInput.val() !== undefined) {
                    alert("로그인 후 수정 가능합니다.");
                    location.href="/account/login";
                }

            }
        })

        // 수정 확인
        $("#certification").on('click',function (e){
            e.preventDefault();
            // modal에서 비밀번호 확인 버튼을 눌렀을 때
            if(nonMemberPassword.val() === nonMemberPasswordInput.val()){
                $('#openForm').submit();
            }
            else if(nonMemberPassword.val() !== nonMemberPasswordInput.val()){
                alert("비밀번호를 잘못 입력하셨습니다.")
            }
        })




        // 목록
        $("#list").on("click", function (e) {
            e.preventDefault();
            openForm.attr('action', 'list');
            openForm.submit();
        })

        // reply 등록
        $("#replySubmit").click(function (e) {
            e.preventDefault();
            // 회원일 때 mno값
            console.log("@@VO : @" , replyer.val() , " @",replyPassword.val() ," @" , reply.val(), " @" ,bno,"@mno",mno.val());
            // json 형식으로 데이터 set
            register();
            getList();
        })


        // reply 수정
        $('.replyModify').click(function (e) {
            e.preventDefault();
            console.log("work?")
            update();
        })

        // reply 삭제
        $('.replyDelete img').on('click',function (e) {
            e.preventDefault();
            console.log($('.replyDelete').attr('href'));
            deleteReply($('.replyDelete').attr('href'));
        })

        // pagination
        $('#pagination a').click(function (e){
            e.preventDefault();
            page = this.attr('href').val();
            console.log(page);
        })


        // 함수
        function register(){
            $.ajax({
                type: 'post',
                url: "/community/reply/register",
                data: JSON.stringify({
                    'reply': reply.val(),
                    'replyer': replyer.val(),
                    'replyPassword': replyPassword.val(),
                    'bno': bno,
                    'mno': mno.val()
                }),
                contentType: "application/json; charset=utf-8",
                success: function () {
                },
                error: function () {
                    alert("등록에 실패했습니다.")
                }
            })
        }

        function update(){
            $.ajax({
                type : 'put',
                url : '/community/reply/'+rno,
                data : JSON.stringify({
                    'reply' : reply.val()
                }),
                success : function (){
                    console.log("complete")
                },
                error(e){
                    console.log(e);
                }
            })
        }

        function getList(){
            $.ajax({
                type: 'get',
                url: '/community/reply/getList/'+bno+"/"+page,
                contentType: 'application/json; charset=utf-8',
                success : function(result){
                    console.log("@getlist",result.list)
                    $("#replyList").empty();
                    let list = "";
                    for (let i = 0; i < result.list.length; i++) {
                        list = "<div class=\"comment-box\">";
                            list += "<ul class='reply-ul'>";
                                list += "<li class='row'>";
                                    list += '<div class="col-lg-2">'
                                    list += '<span> ' + result.list[i].replyer + '</span>'
                                    list += '</div>'
                                    list += '<div class="col-lg-8">'
                                    list += '<span> ' + result.list[i].reply + '</span>'
                                    list += '</div>'
                                    list += '<div class="col-lg-2" style="float: right">'
                                    list += result.list[i].replyDate+'<button href="#" class="replyDelete" style="float: right; padding: 0; background-color: transparent; border: none">' +
                                        '<img src="/img/icon/close.png" style="border: none; background-color: grey; height: 10px; width: 10px" alt="삭제"></button>'
                                    list += '</div>'
                                list += "</li>";
                            list += "</ul>";
                        list += "<hr>";
                        list += "</div>";



                        $("#replyList").append(list);
                        }
                    }
            })
        }

        function deleteReply(rno){
            $.ajax({
                type : 'delete',
                url : '/community/reply/'+rno,
                success : function(){
                    alert("삭제되었습니다.")
                }
            })
        }

        // 발표 후 개발
        // function printPage(pageMaker){
        //     let str="";
        //     page = 0;
        //     if(pageMaker.prev){
        //         page = pageMaker.startPage-1;
        //         str='<a href="#" onclick="listPage(page)">이전</a>'
        //     }
        //     for (let i = pageMaker.startPage; i<pageMaker.endPage; i++){
        //         str += '<li><a href=\"#\" onclick={listPage('+i+ ')} class="${currentPage == "+i+" ? \"active\" : \"\"}\"}></a></li>'
        //     }
        //
        //     if(pageMaker.next){
        //         page = pageMaker.endPage+1;
        //         str='<button type="button" class="arrow-next slick-arrow"><a th:href="${pageMaker.endPage + 1}" id="next">\n' +
        //             '                        <i class="fa fa-angle-right"></i></a></button>'
        //     }
        //     $("#pagination").append(str);
        // }
    })


</script>
</html>