<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.team4.mapper.mypage.OrderItemMapper">

    <!-- OrderItem 데이터 전체 가져오기(ono 단위) -->
    <select id="getAll" resultType="com.green.team4.vo.mypage.OrderItemVO">
        select ono, oINo, pno, iName, iOption, iOptionName,iOption2,iOptionName2, iColor, iPrice,
               iDiscount, iDisPrice, iCount, iTotalPrice,iSavePoint, iDeliveryStatus, iExStatus, iReviewStatus
        from tbl_orderItem
        where tbl_orderItem.ono=#{ono}
    </select>

    <!-- OrderItem 데이터 전체 가져오기(ono 단위) -->
    <select id="getAllAdmin" resultType="com.green.team4.vo.mypage.OrderItemVO">
        select ono, oINo, pno, iName, iOption, iOptionName,iOption2,iOptionName2, iColor, iPrice,
               iDiscount, iDisPrice, iCount, iTotalPrice,iSavePoint, iDeliveryStatus, iExStatus, iReviewStatus
        from tbl_orderItem
        order by oINo desc;
    </select>

    <!-- OrderItem 데이터 전체 가져오기(배송전/미신청 건들만) -->
    <select id="getNormalDelivery" resultType="com.green.team4.vo.mypage.OrderItemVO">
        select ono, oINo, pno, iName, iOption, iOptionName,iOption2,iOptionName2, iColor, iPrice,
               iDiscount, iDisPrice, iCount, iTotalPrice,iSavePoint, iDeliveryStatus, iExStatus, iReviewStatus
        from tbl_orderItem
        where iDeliveryStatus='배송전' and iExStatus='미신청'
        order by oINo desc;
    </select>

    <!-- OrderItem 데이터 하나 가져오기(oINo 단위) -->
    <select id="getOne" resultType="com.green.team4.vo.mypage.OrderItemVO">
        select ono, oINo, pno, iName, iOption, iOptionName,iOption2,iOptionName2, iColor, iPrice,
               iDiscount, iDisPrice, iCount, iTotalPrice,iSavePoint, iDeliveryStatus, iExStatus, iReviewStatus
        from tbl_orderItem
        where tbl_orderItem.oINo=#{oINo}
    </select>

    <!-- OrderItem 데이터 수정(취소/반품/교환 신청, 배송 상태, 리뷰등록 여부만 변경 -->
    <update id="update">
        update tbl_orderItem
        set iDeliveryStatus=#{iDeliveryStatus}, iExStatus=#{iExStatus}, iReviewStatus=#{iReviewStatus}
        where oINo=#{oINo}
    </update>

    <!-- OrderItem 데이터 신규 등록(취소/반품/교환 새주문서 등록시 함께 등록) -->
    <insert id="insert">
        insert into tbl_orderItem (ono, pno, iName, iOption,
                                   iOptionName,iOption2,iOptionName2, iColor, iPrice,
                                   iDiscount, iDisPrice, iCount, iSavePoint,
                                   iTotalPrice,iDeliveryStatus,iExStatus,iReviewStatus)
        values (#{ono},#{pno},#{iName},#{iOption},#{iOptionName},#{iOption2},#{iOptionName2},
                #{iColor},#{iPrice},#{iDiscount},#{iDisPrice},#{iCount},#{iSavePoint},#{iTotalPrice},
                #{iDeliveryStatus},#{iExStatus},#{iReviewStatus})
    </insert>

    <!-- OrderItem 데이터 삭제 -->
    <delete id="delete">
        delete from tbl_orderItem where ono = #{ono}
    </delete>

</mapper>