<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.team4.mapper.mypage.ReviewFilesMpMapper">

    <!-- tbl_reviewFiles 데이터 등록 -->
    <insert id="insert">
        insert into tbl_reviewFiles (rno,img_name,path,uuid)
                VALUES (#{rno},#{img_name},#{path},#{uuid})
    </insert>

    <!-- tbl_reviewFiles 데이터 전체 가져오기(rno 단위) -->
    <select id="getAll" resultType="com.green.team4.vo.mypage.ReviewFilesMpVO">
        select * from tbl_reviewFiles where rno=#{rno}
    </select>

    <!-- tbl_reviewFiles 데이터 수정 -->
    <update id="update">
        update tbl_reviewFiles
            set img_name=#{img_name}, path=#{path}, uuid=#{uuid}
                where rFNo=#{rFNo}
    </update>

    <!-- tbl_reviewFiles 데이터 삭제 -->
    <delete id="delete">
        delete from tbl_reviewFiles where rno=#{rno}
    </delete>

</mapper>