<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- mypage head fragment -->
    <th:block th:replace="fragments/common/header :: head"></th:block>
    <title>Login</title>
</head>
<body>
<!-- mypage header fragment -->
<th:block th:replace="fragments/common/header :: headerFragment"></th:block>

<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-banner-content">
                    <h1 th:text="'개인정보'"></h1>
                    <ul class="breadcrumb">
                        <li><a href="#" th:id="goBack">Login</a></li>
                        <li class="active">Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-section section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 col-12 mx-auto">
                <div class="login-reg-form">
                    <form action="/loginProc" method="post">
                        <h6>접근할 수 없는 권한입니다. 관리자 계정으로 로그인해주세요.</h6>
                        <div class="row">
                            <div class="col-12 mb-20">
                                <label for="id">Id <span class="required">*</span></label>
                                <input name="id" id="id" type="text">
                            </div>
                            <div class="col-12 mb-20">
                                <label for="password">Passwords <span class="required">*</span></label>
                                <input name="password" id="password" type="password">
                            </div>
                            <div class="col-12 mb-20">

                                <label class="inline" for="rememberme">
                                    <input value="forever" id="rememberme" name="rememberme" type="checkbox"> 아이디 기억하기
                                </label>
                            </div>
                            <div class="col-12">
                                <a href="#">비밀번호 찾기</a>
                            </div>
                        </div>
                        <div class="order-button">
                            <input value="Login" name="login" class="inline" type="submit" id="button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>


<!-- mypage footer fragment -->
<th:block th:replace="fragments/common/footer :: footerFragment"></th:block>
<script>

</script>
</html>