<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.team4.mapper.shop.CouponMapper">
    <insert id="insert">
        insert into tbl_coupon (cpName,cpType,cpValue,cpStatus,createDate,assignDate,startDate,expireDate)
            values (#{cpName},#{cpType},#{cpValue},#{cpStatus},#{createDate},#{assignDate},#{startDate},#{expireDate})
    </insert>
    <insert id="insertCouponToMember">
        insert into tbl_MemberCoupon (mno,cpNo)
        values (#{mno},#{cpNo})
    </insert>

    <select id="getCouponAvailable" resultType="com.green.team4.vo.shop.MemberCouponVO">
        <![CDATA[
        select * from tbl_memberinfo M
                          inner join tbl_MemberCoupon MC on M.mno = MC.mno
                          inner join tbl_coupon C on MC.cpNo = C.cpNo
        where DATE_FORMAT(C.expireDate ,'%Y%m%d') > DATE_FORMAT(now(),'%Y%m%d') and cpStatus = '사용가능' and  #{cpConditionVal} >= MC.cpConditionVal  and M.mno = #{mno}
        ]]>
    </select>
    <update id="updateStatus">
        update tbl_MemberCoupon set cpStatus = '사용완료' where mno=#{mno} and cpNo=#{cpNo};
    </update>
</mapper>