<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- mypage head fragment -->
    <th:block th:replace="fragments/common/header :: head"></th:block>
    <title>mypage-memberInfo-read</title>
</head>

<body>
    <!-- mypage header fragment -->
    <th:block th:replace="fragments/common/header :: headerFragment"></th:block>

    <!-- PAGE BANNER SECTION -->
    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-banner-content">
                        <h1 th:text="'배송등록'"></h1>
                        <ul class="breadcrumb">
                            <li><a href="#" th:id="goBack">normalList</a></li>
                            <li class="active">deliveryReg</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PAGE SECTION START -->

    <!-- MemberInfo -->
    <div class="page-section section pt-120 pb-45">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 mx-auto">
                    <div class="login-reg-form">
                        <form th:action="@{/admin/order/deliveryReg}" method="post">
                            <div class="row">
                                <h3>배송 신규등록</h3>
                                <br/>
                                <br/>
                                <br/>
                                <h5>배송대상 주문정보</h5>
                                <!-- 표시 data -->
                                <div class="col-sm-6 col-xs-12 mb-20">
                                    <label>배송대상 회원번호</label>
                                    <input type="text" name="mno" th:value="${mno}"/>
                                </div>
                                <div class="col-sm-6 col-xs-12 mb-20">
                                    <label>배송대상 주문번호</label>
                                    <input type="text" name="ono" th:value="${ono}"/>
                                </div>
                                <div class="col-sm-6 col-xs-12 mb-20">
                                    <label>배송대상 주문상품번호</label>
                                    <input type="text" name="oINo" th:value="${oINo}"/>
                                </div>
                                <div class="col-sm-6 col-xs-12 mb-20">

                                </div>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <h5>배송 정보</h5>
                                <div class="col-sm-6 col-xs-12 mb-20">
                                    <label>배송사명 <span class="required">*</span></label>
                                    <input type="text" name="dCompanyName" placeholder="배송사명을 입력하세요"/>
                                </div>
                                <div class="col-sm-6 col-xs-12 mb-20">
                                    <label>배송 상태</label>
                                    <input type="text" name="dStatus" value="배송 준비중" readonly/>
                                </div>
                                <div class="col-sm-6 col-xs-12 mb-20">
                                    <label>배송 카테고리 <span class="required">*</span></label>
                                    <select name="dCategory">
                                        <option value="none">==카테고리를 선택하세요==</option>
                                        <option value="일반">일반</option>
                                        <option value="교환">교환</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-xs-12 mb-20">
                                    <label>배송 옵션 <span class="required">*</span></label>
                                    <select name="dOption">
                                        <option value="none">==카테고리를 선택하세요==</option>
                                        <option value="일반배송">일반배송</option>
                                        <option value="특급배송">특급배송</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-xs-12 mb-20">
                                    <input type="submit" id="addDelivery" value="배송등록"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- mypage footer fragment -->
<th:block th:replace="fragments/common/footer :: footerFragment"></th:block>

<script>
    $(document).ready(function (){

        // 등록 버튼 누르면
        $("#addDelivery").click(function (){
            alert("배송 등록이 완료되었습니다.")
        })

        // 이전 화면으로 돌아가기 버튼 클릭하면 동작
        $("#goBack").click(function (){
            window.location.href = '/admin/order/normalList'
        })
    })
</script>
</html>